<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.health"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="zhang.bw.com.common.core.WDApplication"
        android:label="@string/app_name" >

        <service android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" >
        </service>


        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 这个Service要继承JCommonService -->
        <service android:name="xx.xx.XService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>


        </service>

    </application>

</manifest>
