<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhang.bw.com.open_my">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".activity.MyActivity" />
        <activity android:name=".activity.WdszActivity" />
        <activity android:name=".activity.WdxxActivity" />
        <activity android:name=".activity.WddaActivity" />
        <activity android:name=".activity.WdbjActivity" />
        <activity android:name=".activity.WdncActivity" />
        <activity android:name=".activity.WdsexActivity" />
        <activity android:name=".activity.WdscActivity" />
        <activity android:name=".activity.UppwdActivity" />
        <activity android:name=".activity.ScreenActivity" />
        <activity android:name=".activity.WdtzActivity" />
        <activity android:name=".activity.SuggestActivity" />
        <activity android:name=".activity.BuyVideoActivity"></activity>
    </application>

</manifest>