<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhang.bw.com.open_my">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".MyActivity" />
        <activity android:name=".WdszActivity" />
        <activity android:name=".WdxxActivity" />
        <activity android:name=".WddaActivity"></activity>
    </application>

</manifest>